doctype html
html
    head
        title
            block title
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport",content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/main.css')
    body
        .container
            p
                - var sepataror = "&nbsp;|&nbsp;"
                a(href="/") Home
                |!{sepataror}
                a(href="/login") Login
                |!{sepataror}
                a(href="/register") Register
                |!{sepataror}
                a(href="/lobby") Lobby
                |!{sepataror}
                a(href="/room") Room
            block content
    script(src='/js/jquery-2.1.3.min.js')
    script(src='/js/bootstrap.min.js')