doctype html
html
    head
        title
            block title
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport",content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/main.css')
    body
        .container
            p.text-center
                - var sepataror = "&nbsp;|&nbsp;"
                unless user
                    a(href="/signin") Sign In
                    |!{sepataror}
                    a(href="/signup") Sign Up
                if user
                    | Signed in as
                    strong &nbsp;#{user.username}&nbsp;
                    a(href="/signout") Sign Out

            block content
    script(src='/jquery/dist/jquery.min.js')
    script(src='/bootstrap/dist/js/bootstrap.min.js')
    script(src='/js/app.js')
    block scripts
