doctype html
html
    head
        title
            block title
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport",content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/main.css')
    body
        .container
            p.text-center
                - var sepataror = "&nbsp;|&nbsp;"
                a(href="/signin") Sign In
                |!{sepataror}
                a(href="/signup") Sign Up
                |!{sepataror}
                a(href="/auth/signout") Sign Out
                |!{sepataror}
                a(href="/lobby") Lobby
                |!{sepataror}
                a(href="/room") Room

            block content
    script(src='/jquery/dist/jquery.min.js')
    script(src='/bootstrap/dist/js/bootstrap.min.js')
    block scripts
