extends layout

block title
    | Lobby

block content
    .row
        .col-lg-12
            .input-group
                .input-group-btn
                    button(class="btn btn-default", type="button") Create room
                input(type="text", class="form-control")
    h1 Available rooms
    .list-group
        a(href="#", class="list-group-item active") Room #1
        a(href="#", class="list-group-item") Room #2
        a(href="#", class="list-group-item") Test room
        a(href="#", class="list-group-item") Stupid room
        a(href="#", class="list-group-item") Support room
