extends layout

block title
    | Lobby

block content
    .row
        .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
            h1 Lobby
            .row
                .col-lg-12
                    .form-group
                        .input-group
                            input(type="text", class="form-control", placeholder="Room name")
                            .input-group-btn
                                button(class="btn btn-primary", type="button")
                                    span.glyphicon.glyphicon-plus(aria-hidden="true")
                                    |  Create Room
            .list-group
                each room in rooms
                    a(href="/room/#{room}", class="list-group-item") #{room}
