extends layout

block title
    | Room

block content
    .row
        .col-lg-12
            p
                a(href='/lobby') Leave the room
            h1 Room #312
            form
                .row.message-input
                    .col-lg-12
                        .form-group
                            .input-group
                                input#new-message(type="text", class="form-control", placeholder="Enter message")
                                span.input-group-btn
                                    button.btn.btn-primary(type="submit") Send
            .panel.panel-default.chat-body-wrap#chat-body-wrap
                .panel-body.chat-body#chat-body

block scripts
    script(src = '/socket.io/socket.io.js')
    script app.roomId = '#{roomId}';
    script(src='/js/room.js')
